*{
  margin:0;
  padding:0;
  
}
.flexLogo{
  display:flex;
  flex-direction: column;
  gap:6em;
  justify-content: flex-end;
  align-items: flex-end;
}
.flexLogo i{
  font-size:42px;
}
 
.space{
  margin-top:22px;
}
.boxSize{
  width:35%;
  display:flex;
  justify-content: space-between;
  height:250px;
  padding:2px 32px 2px 23px;
  align-items: center;
  margin:auto;margin-top:12px;
  border-radius:12px;
}

@media (min-width:20px) and (max-width:415px){
  .boxSize{
    width:80%;
  }
}